[submodule "serialfc"]
	path = serialfc
	url = git://github.com/commtech/serialfc-linux.git
[submodule "lib/python"]
	path = lib/python
	url = git://github.com/commtech/pyfscc.git
[submodule "lib/c++"]
	path = lib/c++
	url = git://github.com/commtech/cppfscc.git
[submodule "lib/c"]
	path = lib/c
	url = git://github.com/commtech/cfscc.git
